{{extend 'layout.html'}}
<style>

    
    .myButton {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
        -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
        box-shadow:inset 0px 1px 0px 0px #f5978e;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
        background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
        
        background-color:#f24537;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #d02718;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 9px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #810e05;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
        background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
        
        background-color:#c62d1f;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

</style><br><br><br>
<form method="POST">
    <span style="font-weight:bold;font-size:15px;">Email Address of the User:</span>&nbsp;&nbsp;
{{x = db(db.auth_user).select(db.auth_user.email)}}
<select name="email">
{{for i in x:}}
{{if i.email!="root@sys.com":}}
<option value="{{=i.email}}">{{=i.email}}</option>
{{pass}}
{{pass}}
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input class="myButton" type="submit" value="Delete Account" name="submit">
</form>
