{{right_sidebar_enabled = True}}
{{extend 'layout.html'}}
{{=form}}
<style>
	.myButton
    {
        -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
        -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
        box-shadow:inset 0px 1px 3px 0px #91b8b3;        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
        background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);        
        background-color:#768d87;        
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;        
        border:1px solid #566963;        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 18px;
        text-decoration:none;        
        text-shadow:0px -1px 0px #2b665e;
    }
    .myButton:hover 
   	{
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
        background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
        background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
        background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
        background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
        background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);        
        background-color:#6c7c7c;
    }
    .myButton:active 
    {
        position:relative;
        top:1px;
    }
    #side{position:absolute;right:0px;top:0px;background-color:#FAF9EA;min-height:297px;width:300px}
    #side_word{position:absolute;top:30px;left:50px;}    
</style>

<script>
  var dis=false;
  function function1()
  {
  if(dis==false)
  {
  document.getElementById("help").style.display="block";
  dis=true;
  }
  else
  {
  document.getElementById("help").style.display="None";
  dis=false;
  }
  }    
</script>

<div id='side'>
{{block right_sidebar}}
    <p style="font-weight:bold; font-size:15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confused?&nbsp;&nbsp;&nbsp;<input  class="myButton" type="button" onclick="function1();" name="help" value="Click Here!"></p> 
<span id="help" style="display:None;">
    <p><b>Select the relations which help you get to the traslation of the word.<br />For help on relations visit the following page: <br /><a href="http://sanskrit.inria.fr/~anusaaraka/sanskrit/sandhi_splitter/">help one</a><br />
        <a href="{{=URL('static','help_pages/relations.html')}}">help two</a></p>
</span>
{{end}}
</div>
